<p>Authorization</p>
<p><%=currentUser%></p>
<br>
<a href="/">Home</a>
<a href="/ide">IDE</a>
<a href="/problems">Problems</a>
<a href="/problems/new">New Problems</a>
<a href="/submissions">Current submissions</a>

<br><br>

<a href="/register">Sign Up</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>
<a href="/messages">Messages</a>
<a href="/messages/1">My Messages</a>