<form action="/contests/<%=id%>" method="POST">
    <input type="text" name="title" placeholder="Title">
    <textarea name="statement" placeholder="Statement"></textarea>
    <button>Submit</button>
</form>
