<h1>New User</h1>
<form action="/register" method="POST">
	<input type="text" name="username" placeholder="email">
    <input type="password" name="password" placeholder="password">
	<input type="text" name="handle" placeholder="handle">
	<label>Choose Role</label>
    <select name="role">
        <option value="user">user</option>
        <option value="author">author</option>
        <option value="admin">admin</option>
    </select>
	<button>Submit</button>
</form>

<a href="/register">Sign Up</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>
<a href="/messages">Messages</a>
