<!DOCTYPE html>
<html>
<body>

    <head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <script>
    $(document).ready(function(){
        $("button").click(function(){
		    var to_compile = {
                "source_code": $("#code").val(),
                "language": $("#lang").val(),
                "input": $("#input").val(),
			    "api_key":"guest"
		    };
		    $.ajax ({
			        url: "http://api.paiza.io:80/runners/create",
			        type: "POST",
			        data: to_compile,
			    }).done(function(data) {
                    function temp(){
                        $.ajax({
                            url:"http://api.paiza.io:80/runners/get_details?id="+data.id+"&api_key=guest",
                            type:"GET"
                        }).done(function(data){
                            var output="";
                            if(data.build_stderr) output+="error: " + data.build_stderr + "\n";
                            else if(data.stderr) output+="error: " + data.build_stderr + "\n";
                            else if(data.result==="timeout" || data.status==="running") output+="Time Limit Exceeded\n";
                            else{
                                output+="Output:\n" + data.stdout+"\n";
                                output+="Time: " + data.time+" s\n";
                            }
                            $("#output").val(output);
                            // $.ajax({url:"/result",type:"POST",data:data});
                        })
                    }
                    setTimeout(temp,2000);
			    }).fail(function(data, err) {
			        alert("fail " + JSON.stringify(data) + " " + JSON.stringify(err));
		        });
	    });
    });
    </script>
    </head>
    <label>Choose Language</label>
    <select id="lang">
        <option value="cpp">C++</option>
        <option value="c">C</option>
        <option value="python">Python</option>
        <option value="java">Java</option>
    </select>
    <textarea id="code" cols="75" rows="25" placeholder="code"></textarea>
    <textarea id="input" cols="45" rows="10" placeholder="input" style="position:relative;left:20px;bottom:220px"></textarea>
    <textarea id="output" cols="45" rows="10" placeholder="output" style="position: relative;left:825px;bottom:190px"></textarea>
    <button id="run" style="position:relative;bottom:110px">Run</button>
    <br><br>
    <a href="/">Home</a>
    <a href="/ide">IDE</a>
    <a href="/problems">Problems</a>
    <a href="/problems/new">New Problems</a>
    <a href="/submissions">Current submissions</a>
    <a href="/messages">Messages</a>
    <a href="/messages/1">My Messages</a>
</body>
</html>