<!DOCTYPE html>
<html>
<body>

    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <script>
    $(document).ready(function(){
        $("button").click(function(){

		    var to_compile = {
			    "LanguageChoice": $("#lang").val(),
			    "Program": $("#code").val(),
			    "Input": $("#input").val(),
			    "CompilerArgs" : "-o a.out source_file.cpp"
		    };

		    $.ajax ({
			        url: "https://rextester.com/rundotnet/api",
			        type: "POST",
			        data: to_compile
			    }).done(function(data) {
                    var temp="";
                    if(data.Warnings) temp+=data.Warnings+"\n";
                    if (data.Errors) temp+=data.Errors+"\n";
                    if(data.Result) temp+="Output: "+data.Result+"\n";
                    temp+="\n"+data["Stats"];
                    $("#output").val(temp);
                    $.ajax({url:"/result",type:"POST",data:data});
			    }).fail(function(data, err) {
			        alert("fail " + JSON.stringify(data) + " " + JSON.stringify(err));
		        });
	    });
    });
    </script>
    </head>
    <label>Choose Language</label>
    <select id="lang">
        <option value="7">C++</option>
        <option value="6">C</option>
        <option value="5">Python</option>
        <option value="4">Java</option>
    </select>
    <textarea id="code" cols="75" rows="40" placeholder="code"></textarea>
    <textarea id="input" cols="45" rows="15" placeholder="input"></textarea>
    <textarea id="output" cols="45" rows="15" placeholder="output"></textarea>
    <button id="run">Run</button>

</body>
</html>