<h1><%=problem.title%></h1>
<p><%=problem.statement%></p>
<br>
<form action="/problems/<%=problem._id%>" method="POST">
    <textarea name="code" id="" cols="30" rows="10" placeholder="Code"></textarea>
    <label>Choose Language</label>
    <select name="lang">
        <option value="7">C++</option>
        <option value="6">C</option>
        <option value="5">Python</option>
        <option value="4">Java</option>
    </select>
    <button>Submit</button>
</form>
<br>
<a href="/problems/:id/submissions">Submissions of this problem</a>
<br><br>
<a href="/">Home</a>
<a href="/ide">IDE</a>
<a href="/problems">Problems</a>
<a href="/problems/new">New Problems</a>
<a href="/submissions">Current submissions</a>